Repository open-power/op-build, pull requests merged in 2019-04, with the labels that each got.

#2744 Add (back) MLX5 ethernet support
  openpower/configs/linux/skiroot_defconfig
Labels: bug, linux

#2775 skiboot v6.3-rc2
  openpower/package/skiboot/Config.in
Labels: stable

#2782 linux: temporarily disable STRICT_KERNEL_RWX
  openpower/configs/linux/skiroot_defconfig
Labels: stable

#2781 Bump p8dtu-xml to fix build failure with newer distros
  openpower/configs/p8dtu_defconfig
Labels: stable

#2793 Kernel 5.0.7
  openpower/configs/barreleye_defconfig
  openpower/configs/firenze_defconfig
  openpower/configs/firestone_defconfig
  openpower/configs/garrison_defconfig
  openpower/configs/habanero_defconfig
  openpower/configs/linux/skiroot_defconfig
  openpower/configs/opal_defconfig
  openpower/configs/p8dtu_defconfig
  openpower/configs/p9dsu_defconfig
  openpower/configs/palmetto_defconfig
  openpower/configs/pseries_defconfig
  openpower/configs/romulus_defconfig
  openpower/configs/vesnin_defconfig
  openpower/configs/witherspoon_defconfig
  openpower/configs/zaius_defconfig
  openpower/configs/zz_defconfig
  openpower/linux/0001-xhci-Reset-controller-on-xhci-shutdown.patch
  openpower/linux/0002-block-Revert-v5.0-blk_mq_request_issue_directly-chan.patch
  openpower/linux/0003-Release-OpenPower-kernel.patch
Labels: linux, stable

#2827 kernel: Move to Linux v5.0.9-openpower1
  openpower/configs/barreleye_defconfig
  openpower/configs/firenze_defconfig
  openpower/configs/firestone_defconfig
  openpower/configs/garrison_defconfig
  openpower/configs/habanero_defconfig
  openpower/configs/opal_defconfig
  openpower/configs/p8dtu_defconfig
  openpower/configs/p9dsu_defconfig
  openpower/configs/palmetto_defconfig
  openpower/configs/pseries_defconfig
  openpower/configs/romulus_defconfig
  openpower/configs/vesnin_defconfig
  openpower/configs/witherspoon_defconfig
  openpower/configs/zaius_defconfig
  openpower/configs/zz_defconfig
  openpower/linux/0001-xhci-Reset-controller-on-xhci-shutdown.patch
  openpower/linux/0002-Release-OpenPower-kernel.patch
  openpower/linux/0002-block-Revert-v5.0-blk_mq_request_issue_directly-chan.patch
Labels: linux, stable
